body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.avatar {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.avatar.big {
  width: 50px;
  background-color: aliceblue;
  line-height: 50px;
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-hover:hover {
  background-color: #19ec8a !important;
}
